body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, p { margin: 0; }
header nav { background-color: rgb(14, 120, 87); }
footer { background-color: rgb(17, 133, 96); font-size: .75rem; }
header, footer { color: #FFF; }
.icon-wrapper object { width: 3rem; fill: #FFF; }

main { width: 100%; background-color: #f8f8f8; }
.city-wrapper, .state-wrapper { display: inline-block; }
.city-wrapper { width: 70%; padding-right: 1rem; } .state-wrapper { width: 30%; }